.megaMenuClass{
    width: 100%;
    height: 340px;
    background: #f1f1f1;
    position: fixed;
    top: 84px;
    left: 0px;
    z-index: -1;
    transform: translateY(-384px);
    animation: mymove 0.7s;
  }
  
  .megaMenuClass.notExpanded{
    transform: translateY(-384px);
  }

  @keyframes mymove {
    from {transform: translateY(-384px);}
    to {transform: translateY(0px);}
  }